@import "././styles/colors.scss";

.navbar {
    background-color: $primary-color;
    a {
        color: white;
    }
    a:hover {
        color: whitesmoke;
        text-decoration: underline;
    }
}